/* CSS Document */

/*--Toolbar Navigation--*/

div[data-role=navbar] .ui-btn .ui-btn-inner { 
    padding-top: 50px; 
}
div[data-role=navbar] .ui-btn .ui-icon { 
    width: 45px; 
    height: 45px; 
    margin-left: -20px; 
}
#home .ui-icon { 
    background:  url(../images/home.png) 50% 50% no-repeat; 
}
#content .ui-icon { 
    background:  url(../images/book2.png) 50% 50% no-repeat; 
}
#calendar .ui-icon { 
    background:  url(../images/calendar2.png) 50% 50% no-repeat;
}
#note .ui-icon { 
    background:  url(../images/note2.png) 50% 50% no-repeat;
}
#search .ui-icon { 
    background:  url(../images/search.png) 50% 50% no-repeat;
}
#layout margin {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
    border: medium solid #000000;
    border-radius: 10px;
}

.hymn{
    width: 100%
}

.hymnContainer{
    height: 100% !important
}